{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header"><strong>Login to your account</strong></div>
                            <div class="card-body">
                                <form action="/authorize" method="post">
                                    <div class="form-group"><label class="text-muted" >Email address</label>
                                        <input type="text" class="form-control" id="username" name="name" placeholder="name">
                                        <small id="emailHelp" class="form-text text-muted">Hz hz</small>
                                    </div>
                                    <div class="form-group"><label class="text-muted" >Password</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                        <small id="passwordHelp" class="form-text text-muted">encrypted form</small>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a href="/registration" class="btn btn-primary">Register</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
