{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row">
                <div class="col-md-10">
                    <h1>Categories</h1>
                    <form action="/node/add/root" method="post">
                        <input type="text" hidden name="root" value="1">
                        <div class="form-group"><label class="text-muted" >Category name</label>
                            <input type="text" class="form-control" id="category" name="categoryname" required placeholder="name">
                            <small id="emailHelp" class="form-text text-muted">Hz hz</small>
                        </div>
                        <div class="form-group"><label class="text-muted" >Category Description</label>
                            <input type="text" class="form-control" id="categorydes" name="categorydes" required placeholder="description">
                            <small id="passwordHelp" class="form-text text-muted">encrypted form</small>
                        </div>
                        <div class="form-group">
                        </div> <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {{ var|raw }}
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
