{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header"><strong>Error happened</strong></div>
                            <div class="card-body">
                                <p>Error happened</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
