<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href=/js/main.js rel=preload as=script>
    <link href=/css/main.css rel=stylesheet>
    {% block head %}
        <title> {% block title %}SOK {% endblock %} </title>
    {% endblock %}
</head>
<body>
<div id="content" class="flex">
    {% block content %}
    {% endblock %}
</div>
<script src=/js/main.js></script>
</body>
</html>
