@import "~bootstrap/scss/bootstrap";

body {
  background-color: #f9f9fa
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

@media (max-width:991.98px) {
  .padding {
    padding: 1.5rem
  }
}

@media (max-width:767.98px) {
  .padding {
    padding: 1rem
  }
}

.padding {
  padding: 5rem
}

.card {
  background: #fff;
  border-width: 0;
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
  margin-bottom: 1.5rem
}

.card-header {
  background-color: transparent;
  border-color: rgba(160, 175, 185, .15);
  background-clip: padding-box
}

.card-body p:last-child {
  margin-bottom: 0
}

.card-hide-body .card-body {
  display: none
}

.form-check-input.is-invalid~.form-check-label,
.was-validated .form-check-input:invalid~.form-check-label {
  color: #f54394
}

ul, li {
  list-style: none;
}

.category-container {
  display: flex;
  min-width: 250px;
  max-width: 450px;
  flex-direction: column;
  margin: 15px 5px;
}

.category-head {
  background-color: #d1d8e1;
  display: flex;
  flex-direction: row;
  .category-title {
    font-weight: 400;
    font-size: 20px;
    padding: 5px 0;
    max-width: 30%;
  }
  .category-control-icons {
    padding: 5px 0;
    margin-left: auto;
  }
}

.control-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.category-description {
  padding: 5px 2px;
}

button.button-invisible {
  background: transparent !important;
  border: none !important;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 60;
}
